#ignore python compiled bytecode files
*.pyc

#igonore the virtual environment directory
img

#ignore all the actual image files
*.jpeg
*.jpg 
*.png

#ignore the folder with test identicon images
identicon_images
*.zip